.form-container1{ 
    width:30%;
    margin-right:20%;
    padding:10px;
    margin-left: 5%;
    margin-top:5%;
 }
 .name input{   
    margin-left: 3%;   
    padding: 20px;   
    width: 350px;   
    color: #ffffff;
    margin-top: 3%;
    border-style: none;
    border-radius: 2px;
    box-shadow:  rgba(38, 37, 37, 0.2) 0px 2px 8px 0px;
   }
.username input:focus{
    outline: none;
    box-shadow: none;
}

.password input{   
    margin-top: 5%; 
    margin-left: 3%;  
    padding: 12px;   
    width: 400px;
    border-style: none;
    border-radius: 2px;
    box-shadow:  rgba(38, 37, 37, 0.2) 0px 2px 8px 0px;
}
.password input:focus{
    outline: none;
    box-shadow: none;
}
.loginbtn{   
     
    margin-left: 13%; 
    margin-top: 4%;
}
.loginbtn button{   
     width: 350px;  
     padding: 9px; 
     color: white;  
     background-color: #00A9E5; 
     border: solid transparent;  
     border-radius: 30px;  
     font-size: 18px;
     margin-top: 5%;
    }
.forgot{
    color: #00A9E5;
    margin-left: 53%;
    margin-top: 2%;

}

.signup{
    margin-top: 8%;
    margin-left: 26%;
    margin-bottom: -5%;
}

.signup span{
    color: #00A9E5;
}
.heading{
    font-size:25px;
     text-align: center;
     color: #00A9E5;
     margin-top:5%;
     margin-left:10%;
}